@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<form method="post" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>

    <div>
        <label asp-for="ConfirmNewPassword">Confirm New Password</label>
        <input asp-for="ConfirmNewPassword" />
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>

    <div>
        <input type="submit" value="Change Password" />
    </div>
    <div>
        <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index","Home")'" />
    </div>



</form>