@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model ForgotPasswordViewModel


@{
    ViewBag.Title = "Forgot Password";
}

<form method="post" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div> 

    <div>
        <input type="submit" value="Forgot Password" />
    </div>
    <div>
        <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index","Home")'" />
    </div>



</form>